.btn-square-shadow {
    display: inline-block;
    padding: 1em 4em;
    text-decoration: none;
    background: #CCAACC;/*ボタン色*/
    border-left-color: #CCAACC;
    border-right-color: #f79393;
    border-top-color: #CCAACC;
    color: #FFF;
    border-bottom: solid 4px #ad6262;
    border-radius: 7pc;
}
.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(1px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(243, 64, 64, 0.421);/*影を小さく*/
    border-top-color: #f79393;
    border-left-color: #f79393;
    border-bottom: none;
}


.selectbox-2 {
    position: relative;
}

.selectbox-2::before,
.selectbox-2::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-2::before {
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 25px 25px 0;
    background-color: #CCAACC;
    content: '';
}

.selectbox-2::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}

.selectbox-2 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #CCAACC;
    border-radius: 25px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-2 select:focus {
    outline: 1px solid #b7d3e6;
}


table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
}

table th:first-child{
    border-radius: 5px 0 0 0;
}

table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th{
    text-align: center;
    color:white;
    background: linear-gradient(#99ddffb0,#99DDFF);
    border-left: 1px solid #99DDFF;
    border-top: 1px solid #99DDFF;
    border-bottom: 1px solid #99DDFF;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 8%;
    padding: 10px 0;
}



table td{
    text-align: center;
    border-left: 1px solid #99DDFF;
    border-bottom: 1px solid #99DDFF;
    border-top:none;
    box-shadow: 20px -17px 20px 20px #eee inset;
    width: 8%;
    padding: 10px 0;
}

table td:last-child{
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

#er{
    color: red;
    font-size: 25px;
    font-weight: bold;
}

#a0{
    padding-bottom:10px;
}
#a1{
    padding-bottom:10px;
}
#a2{
    padding-bottom:10px;
}
#a3{
    padding-bottom:10px;
}

body{
    background-color: #FFDDEE;
/*     background-image: url(sakura.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}


.button-29 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    overflow: hidden;
    border: 1px solid #CCAACC;
    border-radius: 25px;
    background-color: #fff;
    color: #CCAACC;
    font-size: 1em;
}

.button-29:hover {
    background-color: transparent;
    color: #fff;
}

.button-29::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #CCAACC;
    content: '';
    transition: width .3s ease;
}

.button-29:hover::before {
    width: 100%;
}

.button-29::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #CCAACC;
    border-right: 2px solid #CCAACC;
    content: '';
}

.button-29:hover::after {
    border-color: #fff;
}


.button-41 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    background-color: #CCAACC;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-41:hover {
    animation: anima-button-41 2s linear infinite;
}

@keyframes anima-button-41 {
    7% {
        transform: translateY(-15px);
    }
    15% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-7px);
    }
    25% {
        transform: translateY(0);
    }
}

.button-41::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}



a.btn_25 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
    font-size: 60px;
    font-weight: bold;
	padding: 5rem 10rem;
    margin-top: 250px;
	border-radius: 100vw;
	color: #b37b7b;
	background: #CCAACC;
}
a.btn_25:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: shad26 1.5s infinite;
	color: #fff;
}
@keyframes shad26 {
	0% {box-shadow: 0 0 0 0 #CCAACC;}
	70% {box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);}
	100% {box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);}
}


a.btn_26 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
    font-size: 60px;
    font-weight: bold;
	width: 200px;
	margin: auto;
	padding: 5rem 10rem;
    margin-top: 250px;
	border-radius: 100vw;
	color: #b37b7b;
	background: #99DDFF;
}
a.btn_26:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: shad26 1.5s infinite;
	color: #fff;
}
@keyframes shad26 {
	0% {box-shadow: 0 0 0 0 #99DDFF;}
	70% {box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);}
	100% {box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);}
}

.field{
    display: flex;
}

.container {
    display: flex; /* 要素を横に配置 */
    justify-content: center;
  }
  
  .item {
    text-align: center; /* アイコンとラジオボタンを中央に配置 */
    margin-right: 20px; /* アイテム間の間隔を調整 */
  }
  
  .item img {
    display: block; /* ブロック要素として表示 */
    margin: 0 auto; /* 水平方向に中央に配置 */
  }
  
  .item input {
    margin-top: 5px; /* ラジオボタンとアイコンの間隔を調整 */
    width: 20px;
    height: 20px;
  }
.container1 {
    display: flex; /* 要素を横に配置 */
    justify-content: center;
    
  }
  
  .item {
    text-align: center; /* アイコンとラジオボタンを中央に配置 */
    margin-right: 20px; /* アイテム間の間隔を調整 */
  }
  
  .item img {
    display: block; /* ブロック要素として表示 */
    margin: 0 auto; /* 水平方向に中央に配置 */
  }
  
  .item input {
    margin-top: 5px; /* ラジオボタンとアイコンの間隔を調整 */
    width: 20px;
    height: 20px;
  }

  .container2{
    display: flex;
    justify-content: center;
}


.container3 input{
    width: 30px;
    height: 30px;
}


