{% extends 'base.html' %}

{% block title %}
    <title>新規作成</title>
{% endblock %}

{% block content %}
    <form action="{{ url_for('register_article') }}" method="post" style="text-align: center;">
        <div class="container">
            <div class="item">
                <img src="../static/chichi.png" alt="表示" width="80px" height="80px">
                <input type="radio" name="user" id="father" value="父">おっと
            </div>
            <div class="item">
                <img src="../static/haha.png" alt="表示不可" width="80px" height="80px">
                <input type="radio" name="user" id="Mother" value="母">じぶん
            </div>
            <div class="item">
                <img src="../static/ane.png" alt="表示不可" width="80px" height="80px">
                <input type="radio" name="user" id="sister" value="姉">あね
            </div>
            <div class="item">
                <img src="../static/imouto.png" alt="表示不可" width="80px" height="80px">
                <input type="radio" name="user" id="younger sister" value="妹">いもうと
            </div>
        </div>
        <div>
            <div class="container1">
                <div class="item">
                    <img src="../static/otouto.png" alt="表示不可" width="80px" height="80px">
                    <input type="radio" name="user" id="younger brother" value="弟">おとうと
                </div>
                <div class="item">
                    <img src="../static/sobo.png" alt="表示不可" width="80px" height="80px">
                    <input type="radio" name="user" id="grandmother" value="祖母">そぼ
                </div>
                <div class="item">
                    <img src="../static/sohu.png" alt="表示不可" width="80px" height="80px">
                    <input type="radio" name="user" id="grandfather" value="祖父">そふ
                </div>
                <div class="item">
                    <img src="../static/oba.png" alt="表示不可" width="80px" height="80px">
                    <input type="radio" name="user" id="aunt" value="叔母">おば
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div id="a1" class="container2">
                <img src="../static/milk.png" alt="表示不可" width="50px" height="50px">
                <label class="selectbox-2">
                    <select name="breastfeeding" id="breastfeeding">
                        <option value="" disabled selected style="display:none;">みるく</option>
                        <option>10ml</option>
                        <option>20ml</option>
                        <option>30ml</option>
                        <option>40ml</option>
                        <option>50ml</option>
                        <option>60ml</option>
                        <option>70ml</option>
                        <option>80ml</option>
                        <option>90ml</option>
                        <option>100ml</option>
                        <option>110ml</option>
                        <option>120ml</option>
                        <option>130ml</option>
                        <option>140ml</option>
                        <option>150ml</option>
                        <option>160ml</option>
                        <option>170ml</option>
                        <option>180ml</option>
                        <option>190ml</option>
                        <option>200ml</option>
                    </select>
                </label>
            </div>
            <br>
            <div id="a2" class="container3">
                <img src="../static/omutu.png" alt="表示不可" width="70" height="70">
                <input type="checkbox" name="urine" id="urine" value="おしっこ">おしっこした
                <input type="checkbox" name="urine" id="urine" value="">おしっこしてない
            </div>
            <br>
            <div id="a3" class="container2">
                <div>
                    <div class="item">
                        <img src="../static/cha.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="cha" value="茶色">ちゃいろ
                    </div>
                    <div class="item">
                        <img src="../static/pink.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="pink" value="ピンク色">ぴんくいろ
                    </div>
                    <div class="item">
                        <img src="../static/ao.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="cha" value="青色">あおいろ
                    </div>
                </div>
                <div>
                    <div class="item">
                        <img src="../static/yellow.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="yellow" value="黄色">きいろ
                    </div>
                    <div class="item">
                        <img src="../static/murasaki.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="murasaki" value="むらさき色">むらさきいろ
                    </div>
                    <div class="item">
                        <img src="../static/green.png" alt="表示不可" width="80px" height="80px">
                        <input type="radio" name="flight" id="green" value="緑色">みどりいろ
                    </div>

                </div>
            </div>
        </div>
        <br>
        <label>
            <input type="text" class="textbox-1"name="bikou" placeholder="びこう" />
        </label>
        <p id="er">{{er}}</p>
        <button class="btn-square-shadow">さくせい</button>
    </form>
    <br>
    <div style="text-align: center;">
        <a href="/" class="button-29">とっぷへもどる</a>
    </div>
{% endblock %}
