{% extends 'base.html' %}

{% block title %}
    <title>新規作成</title>
{% endblock %}

{% block content %}
    <h1 class="heading-10">記録する</h1>
    <form action="{{ url_for('register_article') }}" method="post" style="text-align: center;">
        <div id="a0">
            <label class="selectbox-2">
                <select name="user" id="user">
                    <option value="" disabled selected style="display:none;">人物
                    <option></option>
                    <option>父</option>
                    <option>母</option>
                    <option>祖母</option>
                    <option>祖父</option>
                    <option>弟</option>
                    <option>妹</option>
                </select>
            </label>
        </div>
        <div>
            <div id="a1">
                <label class="selectbox-2" >
                    <select name="breastfeeding" id="breastfeeding">
                        <option value="" disabled selected style="display:none;">授乳
                        <option></option>
                        <option>〇</option>
                    </select>
                </label>
            </div>
            <div id="a2">
                <label class="selectbox-2" >
                    <select name="urine" id="urine">
                        <option value="" disabled selected style="display:none;">尿
                        <option></option>
                        <option>〇</option>
                    </select>
                </label>
            </div>
            <div id="a3">
                <label class="selectbox-2" >
                    <select name="flight" id="flight">
                        <option value="" disabled selected style="display:none;">便
                        <option></option>
                        <option>〇</option>
                    </select>
                </label>
            </div>
        </div>
        <br>
        <p id="er">{{er}}</p>
        <button class="btn-square-shadow">作成</button>
    </form>
    <br>
    <div style="text-align: center;">
        <a href="/">トップへ戻る</a>
    </div>
{% endblock %}
