{% extends 'base.html' %}

{% block title %}
    <title>記録</title>
{% endblock %}

{% block content %}
<div class="head1">
    <a href="{{url_for('index')}}" class="head2"></a>
</div>
    <br>

    <div class="search" style="text-align: center;">
        <form action="{{ url_for('find' )}}" method="'post">
            <input type="text" name="search">
            <input type="submit" value="けんさく">
        </form>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>ひづけ</th>
                <th>じかん</th>
                <th>きろくしたひと</th>
                <th>みるく</th>
                <th>おしっこ</th>
                <th>うんち</th>
                <th>びこう</th>
                <th></th>
                <th><a href="/result">CSVにかく</a></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <!-- <td>{{ article['ID'] }}</td> -->
                    <td>{{ article['DATE'] }}</td>
                    <td>{{ article['now'] }}</td>
                    <td>{{ article['USER'] }}</td>
                    <td>{{ article['breastfeeding'] }}</td>
                    <td>{{ article['URINE'] }}</td>
                    <td>{{ article['FLIGHT'] }}</td>
                    <td>{{ article['bikou'] }}</td>
                    <td>
                        <a href="{{ url_for('delete_article', id=article['ID']) }}">削除</a>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
    <tbody>
        {% for find in finds %}
            <tr>
                <td>{{ find['DATE'] }}</td>
                <td>{{ find['now'] }}</td>
                <td>{{ find['USER'] }}</td>
                <td>{{ find['breastfeeding'] }}</td>
                <td>{{ find['URINE'] }}</td>
                <td>{{ find['FLIGHT'] }}</td>
                <td>{{ find['bikou'] }}</td>
                <td>
                    <a href="{{ url_for('delete_find', id=find['ID']) }}">削除</a>
                </td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
    <div >
        <button type="button" class="button-29" id="btn">とっぷへ</button>
      </div>


      <script>
        const btn_30 = document.getElementById("btn");

btn_30.addEventListener("click", () => {
  window.scroll({
    top: 0,
    behavior: "smooth",
  });
});
      </script>
{% endblock %}
