{% extends 'base.html' %}

{% block title %}
    <title>記録</title>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <a href="/" class="button-29">トップページへ戻る</a>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>日付</th>
                <th>時間</th>
                <th>人物</th>
                <th>授乳</th>
                <th>尿</th>
                <th>便</th>
                <th><a href="/result">csv出力</a></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <!-- <td>{{ article['ID'] }}</td> -->
                    <td>{{ article['DATE'] }}</td>
                    <td>{{ article['now'] }}</td>
                    <td>{{ article['USER'] }}</td>
                    <td>{{ article['breastfeeding'] }}</td>
                    <td>{{ article['URINE'] }}</td>
                    <td>{{ article['FLIGHT'] }}</td>
                    <td>
                        <a href="{{ url_for('delete_article', id=article['ID']) }}">削除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div >
        <button type="button" class="button-29" id="btn">トップへ</button>
      </div>
  

      <script>
        const btn_30 = document.getElementById("btn");

btn_30.addEventListener("click", () => {
  window.scroll({
    top: 0,
    behavior: "smooth",
  });
});
      </script>
{% endblock %}
